.no-user-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font: 2em 'PT Sans Narrow', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: white;
  text-align: center;
}

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

/** TITLES **/

h1 {
  font-weight: 700;
  font-size: 3em;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.title {
  padding-top: 1em;
}

.subtitle {
  font-family: 'Pacifico', cursive;
  padding-left: 5em;
  color: #939bbb;
  text-shadow: 0 2px 2px #000;
  position: relative;
  top: -1.5em;
}

/** TEXT DECORATIONS **/

p {
  font-size: 1em;
  line-height: 1.143em;
  color: #939bbb;
  font-weight: normal;
  text-shadow: 0 2px 2px #000;
}

p span {
  font-weight: bold;
  color: #fff;
}

p a {
  color: #cfd2e5;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #6d738f;
  padding-bottom: 1px;
}

p a:hover {
  color: #fff;
  border-bottom: 1px solid #cfd2e5;
}

/** OTHER PANELS **/

#panel {
  display: -webkit-flex;
  -webkit-flex: 1 0 auto;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: center;
  -webkit-align-self: auto;
}

#labels {
  padding-top: 2em;
  position: relative;
  width: 100%;
  vertical-align: center;
}

.label {
  opacity: 0; // all slide on top of each others
  position: absolute;
  top: 2em;
  width: 100%;
  text-align: center;
}

#BG {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  display:block;
}

/** DROPZONE **/

#dropzone {
  .no-user-select;
}

#dropzone.hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #adff2f;
  border-style: solid;
}

#arrow {
  position: relative;
}

@dropZoneSize: 1.4em;
@dropZoneBorder: 0.04em;

#slides {
  position: relative;
  width: (@dropZoneSize + (2 * @dropZoneBorder));
  height: (@dropZoneSize + (2 * @dropZoneBorder));
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  font-size: 7.143em;
}

.slide { // that's the symbol font!
  font-family: 'myfonts';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  opacity: 0.9; // all slide on top of each others
  position: absolute;
  top: 0;
  height: @dropZoneSize;
  width: @dropZoneSize;
  border: @dropZoneBorder dotted #cacdd0;
  -webkit-backface-visibility: hidden; // center icon
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  border-radius: @dropZoneSize;
}

.slide canvas { // that's the symbol font!
  height: @dropZoneSize;
}

.slide div#progress-textfield {
  position: absolute;
  top: 135px;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  font-size: 70px;
  z-index: 2;
}

.share {
  border-color: #adff2f;
  border-style: solid;
}

.completed {
  background: #adff2f;
  border-color: #28ee23;
  border-style: solid;
}

.errors {
  background: #f03c3d;
  border-color: #ff0000;
  border-style: solid;
}

.rotated {
  -webkit-transform: rotateY(180deg);
}

.hidden {
  visibility: hidden;
}

.block .front {
  z-index: 2;
}

.block .back {
  z-index: 0;
}

.back {
  -webkit-transform: rotateY(180deg);
}

.threecols {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;

  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;

}

/** FOOTER **/

#footer {
  font-size: 0.4em;
  color: #7b8197;
  position: absolute;
  bottom: 0.33em;
  left: 0;
  width: 100%;
  height: 1.6em;
  visibility: visible;
  display: block;
}

#footer a {
  color: #cfd2e5;
  text-shadow: 0 1px 0 #111;
  text-decoration: none;
  border-bottom: 1px solid #63697d;
  padding-bottom: 1px;
}

#footer a:hover {
  color: #fff;
  border-bottom: 1px solid #cfd2e5;
}
