/************************/
/***** BOUNCE ARROW *****/
/************************/

.mixi-bounce() {
  0% { top: 60px; }
  50% { top: 20px;}
  100%{ top: 60px; }
}

@-webkit-keyframes bounce {.mixi-bounce;}
@-moz-keyframes bounce {.mixi-bounce;}
@-ms-keyframes bounce {.mixi-bounce;}
@-o-keyframes bounce {.mixi-bounce;}
@keyframes bounce {.mixi-bounce;}

.arrow_anim {
  .animation(bounce, 2s, ease-in-out, infinite);
}


// Used to fade in/out the labels

.animated {
  .animation-fill-mode(both);
  .animation-duration(1s);
}

.animated.hinge {
  .animation-duration(2s);
}

/************************/
/***** FADE IN UP *******/
/************************/

.mixi-fadeinup() {
  from {
    opacity: 0;
    .transform(translateY(0.5em));
  }

  to {
    opacity: 1;
    .transform(translateY(0));
  }
}

@-webkit-keyframes fadeInUp {.mixi-fadeinup;}
@-moz-keyframes fadeInUp {.mixi-fadeinup;}
@-ms-keyframes fadeInUp {.mixi-fadeinup;}
@-o-keyframes fadeInUp {.mixi-fadeinup;}
@keyframes fadeInUp {.mixi-fadeinup;}

.fadeInUp {
  .animation-name(fadeInUp);

}

/************************/
/***** FADE IN DOWN *****/
/************************/

.mixi-fadeindown() {
  from {
    opacity: 1;
    .transform(translateY(0));
  }

  to {
    opacity: 0;
    .transform(translateY(0.5em));
  }
}

@-webkit-keyframes fadeOutDown {.mixi-fadeindown;}
@-moz-keyframes fadeOutDown {.mixi-fadeindown;}
@-ms-keyframes fadeOutDown {.mixi-fadeindown;}
@-o-keyframes fadeOutDown {.mixi-fadeindown;}
@keyframes fadeOutDown {.mixi-fadeindown;}

.fadeOutDown {
 .animation-name(fadeOutDown);

}

