<div id="panel">


    <h1 class="title">QuickShare</h1>

    <h2 class="subtitle">Easy file sharing</h2>

    <h3>About</h3>


    <p>
        what is this about?
        shareless is not a file storage service. Instead it focuses on sharing a file between two people as fast as
        possible.
        how does it work?
        normally you would have to upload the entire file before somebody could dowload it. With shareless there is no
        need to wait - the file is uploaded in small chunks, which go immediately to the receiver. Uploading and
        downloading happens simultaneously which in general is cutting the waiting time by half!

        and it doesn't require flash </p>

</div>
