<div id="panel">

    <h1 class="title">QuickShare</h1>

    <h2 class="subtitle">Easy file sharing</h2>

    <h3>Browser Not Supported</h3>

    <p>
        I am afraid your browser is not supported.

        In fact, If you knew how Microsoft IE has been slowing web innovations by enforcing proprietary extensions, you
        would be wondering why is it still around... the answer can be summarize in word: "A MONOPOLY"

        Fortunately this era is now over. A new king emerged: WebKit. And with development powerhouses such as Google or
        Apple, it
        has

        monopoly is over. The web is growing so fast that M$ no other choices than updating
        for so many years. One can wonder how come organizations
        The point, this has changed. IE is no more - long life to Chrome and open standards.
    </p>

</div>