<div id="panel">

    <h1 class="title">QuickShare</h1>

    <h2 class="subtitle">Easy file sharing</h2>

    <!--<div id="sliding_container">-->
    <div id="slides">
        <div id="dropzone" class="slide hidden">
            <div id="arrow" class="icon-down-1 arrow_anim"></div>
        </div>
        <div id="link" class="slide hidden">
            <div class="icon-export" style="width: 200px;font-size:200px"></div>

        </div>
        <div id="progress" class="slide hidden">
            <canvas id="gauge" width="350px" height="350px"></canvas>
            <p id="progressStatus">0<span>%</span></p>
        </div>
        <div id="confirmation" class="slide hidden">
            <p>Media shared!</p>
            <a href="/">Try again</a>
        </div>
    </div>

    <p><span>Drop</span> a file, <span>share</span> the link. It's that <span>easy!</span><p>

    <p><span>Good!</span> Now <span>share</span> this <a id="linkURL" href="link" target="_blank">Link</a></p>

</div>