<div id="panel">
    <h1>QuickShare</h1>

    <h2>Easy file sharing</h2>

    <div id="sliding_container">
        <div id="slides">
            <div id="dropzone" class="slide">
                <img id="arrow" src="images/download.png" alt="Drop"/>
                <p>Drop Medias Here</p>
            </div>
            <div id="link" class="slide">
                <p>Share this <a id="linkURL" target="_blank" href="loc">link</a></p>
            </div>
            <div id="progress" class="slide">
                <p id="progressStatus">0<span>%</span></p>
            </div>
            <div id="confirmation" class="slide">
                <p>Media shared!</p>
                <a href="/">Try again</a>
            </div>
        </div>
    </div>
    <p>
        Drop a file, share the link. It's that easy.
    </p>
</div>