<div id="panel">

    <h1 class="title">QuickShare</h1>

    <h2 class="subtitle">Easy file sharing</h2>

    <!--<div id="sliding_container">-->
    <div id="slides">
        <div id="dropzone" class="slide hidden">
            <div id="arrow" class="arrow_anim">A</div>
        </div>
        <div id="link" class="share slide hidden">B</div>
        <div id="progress" class="slide hidden">
            <canvas id="gauge" width="350px" height="350px"></canvas>
            <p id="progressStatus">0<span>%</span></p>
        </div>
        <div id="confirmation" class="completed slide hidden">C</div>
    </div>


    <div id="labels">
        <p id="label1" style="opacity: 1;z-index: 0;" class="label"><span>Drop</span> a file, <span>share</span> the
            link. It's that
            <span>easy!</span></p>

        <p id="label2" style="opacity: 0;z-index: 1;" class="label hidden">Now <span>share</span> this
            <a id="linkURL" href="link" target="_blank">Link</a> with your
            <span>peer...</span></p>

        <p id="label3" style="opacity: 0;z-index: 2;" class="label hidden"><span>Streaming...</span> Do <span>not close</span>
            the <span>Browser.</span>
        </p>

        <p id="label4" style="opacity: 0;z-index: 3;" class="label hidden">Media <span>shared!</span> <a href="/">Try again</a>
        </p>

    </div>


</div>