<!DOCTYPE html>
<html>
<head>
    <title>QuickShare</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <link rel="icon" href="/favicon.ico"/>
    {css}
</head>
<body>
<a href="https://github.com/orefalo/QuickShare" style="z-index:100"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
<canvas id="BG"></canvas>
{>body}
<div id="footer">Copyright ©2013 <a href="http://resume.github.com/?orefalo" target="_blank">Olivier Refalo</a> All rights reserved.
   | <a href="https://github.com/orefalo/QuickShare" target="_blank">About</a>
</div>
</body>
</html>
{javascript}
