<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div class="grid_12 bgcontent">
    <div style="padding: 1em 1em">
        <h1>Privacy Policy</h1>
        <div>
            <i>Last update: January 10th, 2010</i>
            <br>

            Crionics is committed to protecting your privacy. You can visit most pages on our site without giving us any information about yourself. This privacy statement explains data collection and use in those situations where we need to gather information from you.
        </div>
        <div style="text-align: justify;">
            <div class="grid_4 alpha">

                <h2>Collection of your Personal Information</h2>
                We will ask you when we need information that personally identifies you (personal information) or allows us to contact you. Personal information collected by crionics.com often is limited to e-mail address, picture, language, country or location, but may include other information when needed to provide a service you requested.
                crionics.com also collects certain information about your computer hardware and software. This information may include: your IP address, browser type, operating system, domain name, access times and referring Web site addresses. This information is used for the operation of the service, to maintain quality of the service and to provide general statistics regarding use of crionics.com
                Note that crionics.com doesn't store any passwords, for this purpose we use RPXNow with provides single sign on facilities with the major online services.
                crionics.com also collects information about which pages our customers visit. This site visitation data is identified only by a unique ID number, and it is never linked with personal information.
                <h2>Mail</h2>
                You may receive email communications related to the services Crionics Inc. provides. Those communications are one way and only serve as notification purposes should your attention be necessary. In fact we won't even processreplies to our emails. You may unsubscribe from email notifications at any time by changing your personal users settings.
                Crionics Inc. may also send out periodic e-mails informing you of technical service or security issues related to a product or service you requested, or confirming you requested a product or service. You will not be able to choose to unsubscribe to these mailings, as they are considered an essential part of the service you have chosen.

            </div>
            <div class="grid_4">

                <h2>Use of your Personal Information</h2>
                <p>
                    We use your personal information for the following purposes:

                </p><ul class="list">
                <li>
                    To ensure our site is relevant to your needs.
                </li>
                <li>
                    To deliver services that you request or purchase.
                </li>
                <li>
                    To help us create and publish content most relevant to you.
                </li>
                <li>
                    To allow you access to limited-entry areas of our site as appropriate.
                </li>
            </ul>
                Crionics Inc. may disclose your personal information if required to do so by law or in the good-faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served at Crionics Inc. or the site; (b) protect and defend the rights or property of Crionics Inc. and its family of Web sites, or (c) act in urgent circumstances to protect the personal safety of Crionics Inc. employees, users of Crionics Inc. products or services, or members of the public.
                Your information may be stored and processed in the United States or any other country in which Crionics Inc. or its affiliates, subsidiaries or agents maintain facilities, and by using this site, you consent to any such transfer of information outside of your country. Crionics Inc. abides by the safe harbor framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of data from the European Union.

                <h2>Access to your Personal Information</h2>
                We will provide you with the means to ensure that your personal information is correct and current. However, since ugot.com is an openID consumer and doesn't retain the original records, you will need to update them with the service you registered with (facebook, yahoo, google to name just a few).
                <p></p>
            </div>
            <div class="grid_4 omega">

                <h2>Security of your Personal Information</h2>

                Crionics Inc. is committed to protecting the security of your personal information. We use a variety of security technologies and procedures to help protect your personal information from unauthorized access, use or disclosure. For example, we store the personal information you provide in computer servers with limited access that are located in controlled facilities. Show we transmit sensitive information over the internet, all communication are protected through the use of encryption, such as the Secure Socket Layer (SSL) protocol.

                <h2>Protection of Children's Personal Information</h2>
                ugot.com is a general audience site and does not knowingly collect any personal information from children.

                <h2>Use of Cookies</h2>
                When someone visits the site, a cookie is placed on the customer's machine or is read if the customer has visited the site previously. One use of cookies is to assist in the collection of the site visitation statistics described above.

                If you choose to not have your browser accept cookies from the ugot.com Web site, you will be able to view the text on the screens, however you will not experience a personalized visit nor will you be able to subscribe to the service offerings on the site.

                <h2>Changes to this Statement</h2>
                Crionics Inc. will occasionally update this privacy statement. When we do, we will also revise the "last updated" date at the top of the privacy statement.

            </div>
        </div>
    </div>
</div>
</body>
</html>